<div class="footer">
    <% if (landlord.hasContact) { -%>
        <p>
            <%- _.t('For any questions or concerns, please contact us:') %><br />
            <strong><%-landlord.contacts[0].email%></strong><br />
            <strong><%-landlord.contacts[0].phone1%></strong><%if (landlord.contacts[0].phone2) {%> / <strong><%-landlord.contacts[0].phone2%></strong><%}%>
        </p>
    <%}-%>
    <p>
        <% if (landlord.hasAddress) { -%>
            <%-landlord.name%> <%-landlord.addresses[0].street1%> 
            <%if (landlord.addresses[0].street2) {-%>
                <%-landlord.addresses[0].street2%> 
            <%}-%>
            <%-landlord.addresses[0].zipCode%> <%-landlord.addresses[0].city%> 
            <%if (landlord.addresses[0].state) {-%>
                <%-landlord.addresses[0].state%> 
            <%}-%>
            <%if (landlord.addresses[0].country) {-%>
                <%-landlord.addresses[0].country%>
            <%}-%>
        <%}-%>
    </p>
</div>